@charset "utf-8";



/* 임시 */
.content{
    padding:80px 0;
    box-sizing:border-box;
}

.reservFormWrap > *{
	display:table-cell;
	width:55%;
	vertical-align:top;
	max-height:550px;
}
.reservFormWrap > div{
	width:45%;
	padding:20px 0 20px 15px;
}

#adminReservForm{
    padding:20px 15px 20px 0;
}
#adminReservForm >  table{
    margin:25px 0;
    padding:25px 0 ;
    box-sizing:border-box;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;;
}
#adminReservForm .reservWrap{
	border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
#adminReservForm .reservWrap > tbody > tr > th,
#adminReservForm .reservWrap > tbody > tr > td{
	padding:15px 5px 15px 10px;
	box-sizing: border-box;
}
#adminReservForm .reservWrap > tbody > tr > th{
    min-width:130px;
    width:5%;
    font-size:15px;
    text-align:left;
    background-color:#f5f5f5;
}
#adminReservForm .reservWrap > tbody > tr{
    border-bottom:1px dashed #e7e7e7;
}
#adminReservForm .reservWrap > tbody > tr:last-child{
    border-bottom:0;
}

#adminReservForm input[type=text],
#adminReservForm select{
    padding:7px 15px; box-sizing:border-box;
    min-width:160px;
    font-size:15px; 
}
#adminReservForm .reservTime input{
	width:100%;
	min-width:120px;
}


.reservTimeWrap > dt{
    
    width:8%;
    max-width:100px;
}

.reservTime p b{
    display:block;
    font-size:13px;
    padding:5px 0;
    font-weight:normal;
    color:#666;
}
.reservTime > p{box-sizing:border-box; width:50%;}
.reservTime > p:first-child{
    padding-right:10px;
}
.reservTime > p:last-child{
    padding-left:10px;
}
.btnArea{
	text-align:right;
	padding:25px 0; box-sizing:border-box;
}

/* timeTable */


.timeField{
	width:100%;
}
.timeField thead tr th{
	font-size:16px;
	padding:15px 0;
}
.timeField td, .timeField th{
	padding:5px 15px; box-sizing:border-box;
}
.timeField thead tr th:nth-child(1){
	width:15%;
	min-width:180px;
}
.timeField thead tr th:nth-child(2){
	width:55%;
	min-width:300px;
}
.timeField thead tr th:nth-child(3){
	width:15%;
	min-width:150px;
}
.timeField > tbody tr:nth-child(even){
	background-color:#fafafa;	
}

.timeField > tbody tr{
	cursor:pointer;
	border:1px solid #fafafa;
	width:100%;
	box-sizing:border-box;
	padding:15px 15px 15px 50px; box-sizing:border-box;
	border-bottom:1px dashed #e7e7e7;
}
.timeField > tbody tr:hover{
	border-color:#041328;
	border-bottom-style:solid;
}

/*
.timeField > li a:before{
	content:''; display:block;
	width:8px; height:8px;
	border:4px solid #ccc;
	border-left:0; border-top:0;
	transition:all .1s;
	transform:rotate(-45deg);
	position:absolute; left:0; top:50%; margin-top:-7px;
}
*/
.timeField > tbody tr.checked,
.timeField > tbody tr.ing{
	background-color:#ccc;
}
/*
.timeField > li a.checked:before{
	
	border-color:#03C75A;
	
	transform: rotate(45deg);
    margin-top: -14px;
    left: 10px;
    height:14px;
}
.timeField > li a.ing:before{
	transform:rotate(0deg);
	border-color:#03C75A;
	height: 15px;
	margin-top:-10px;
	left:5px;
    border-bottom: 0;
}
.timeField > li a.ing:after{
	content: '';
    display: block;
    width: 8px; height: 15px;
    margin-top: -14px;
    border: 4px solid #03C75A;
    border-left: 0; border-top: 0; border-bottom: 0;
    transition: all .1s;
    position: absolute; top: 50%; left: 9px;
    transform: rotate(90deg);
}
*/
.timeField tbody strong{
	display:inline-block;
	width:50%; position:relative;
	font-size:20px;
	font-weight:normal;
	letter-spacing:.5px;
	text-align:center;
	box-sizing:border-box;
}
.timeField tbody strong:first-child:after{
	content:'~'; display:block;
	position:absolute; top:0; font-size:18px; 
	right:-5px;
	height: 100%;
    line-height: 24px;
}
.timeField tbody span{
	display:block;
	text-align:center;
}
.timeField tbody b{
	border-right:1px solid #e7e7e7;
	display:block;
	text-align:center;
}
.timeField .green{
	color:#03C75A;
}
.timeField .red{
	color:#EA4335;
}