
@chraset "utf-8";

header{height:80px;}
#header{position:absolute; top:0; left:0; width:100%; z-index:9999;}
        
        #header{width:100%; background-color:rgba(00,00,00,0.3);}
        .nav_wrap{width:60%; position:absolute; top:0; right:0;}
        .nav_wrap .gnb{text-align:right;}
        .nav_wrap .gnb > li{
            display:inline-block;
        }
        .nav_wrap .gnb > li > a{
            display:block;
            font-size:18px; color:#fff; font-weight:bold;
            padding:5px 30px;
            line-height:70px;
        }
        .nav_wrap .gnb > li > a:hover{
            opacity:.8;
        }
        
        .oneDayClass_wrap strong{
            position:relative; display:inline-block;
            padding:0px 25px 0; box-sizing:border-box;
            bottom: -5px; height:60px; line-height: 78px;
            vertical-align: top;
            background-color:#ffd200;
            box-shadow:inset -5px -5px 5px rgba(230,190,3,0.5);
            border-radius:8px;
            color:#333;
        }
        
        