@charset "utf-8";


.sideBar{
	position:fixed;
	right:-200px;
	top:0;
	width:200px; height:100%;
	background-color:#444444;
    z-index: 50000;
}
.sideBar .quick_snb .snb li a{
	display:block;
	padding:10px 10px; box-sizing:border-box;
	color:#fff;
	font-size:15px;
}
